while loop

In [2]:
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

pass
### the pass statement is a null opearation, it does nothing

In [3]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

break

In [4]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

nested loop <br>
loop inside a loop

In [5]:
for i in range(3):
    for j in range(2):
        print(f"i is {i}, and j is {j}")

i is 0, and j is 0
i is 0, and j is 1
i is 1, and j is 0
i is 1, and j is 1
i is 2, and j is 0
i is 2, and j is 1

calculate the sum of first N natural numbers using while loop

In [4]:
n = 1
sum = 0
while n<=10:
    sum=sum+n
    n+=1
print(sum)

55

calculate the sum of first N natural numbers using for loop

In [11]:
sum = 0
for i in range(1, 11):
    sum = sum+i
print(sum)

55

print prime numbers between 1 to 100

In [13]:
for num in range(1, 100):
    if num>1:
        for i in range(2, num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97